<h1>List of available Process Apps and Toolkits</h1>
<p>Select to display available snapshots.</p>
<table border="1" style="width:900px">
    <tr>
        <th>Process App/Toolkit Name</th>
        <th>GUID</th>
    </tr>
    <% @process_apps.each do |processApp| %>
        <tr></tr><td><a href="/process_app/<%= processApp.id %>"><%= processApp.name %></a></td>
        <td><%= processApp.guid%></td></tr>
    <% end %>
</table>
